body{
    background-color: #857d71;
    color: #FFFFFF;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;

}
h1{
    text-align: center;
    color: #FFFFFF;

}