body{
    background-image: url("#{resource['images/WhatsApp Image 2024-11-15 at 8.28.24 PM.jpeg']}");
    background-size: cover;
    background-attachment: fixed;
    background-color: #857d71;
    color: #FFFFFF;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;

}
h1{
    text-align: center;
    color: #FFFFFF;

}